# prisma config
DATABASE_URL="postgresql://business-card:business-card@apidb:5432/business-card?schema=public"

# database config
POSTGRES_USER=business-card
POSTGRES_PASSWORD=business-card
POSTGRES_DB=business-card
POSTGRES_HOST=apidb
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data/pgdata

# NestJS config
PORT=3000